<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StoreIn" value=".\"/>
    <!--days, hours, minutes, seconds. If zero timespan is specified, the program will run only once.-->
    <add key="RunInterval" value="0:0:0:0"/>
    <add key="ContainerNames" value="logs:images"/>
    <add key="IsDeleteRequired" value="false"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=account-name;AccountKey=account-key" />
  </appSettings>
</configuration>